root = true

[*]
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = warning
dotnet_diagnostic.CA1822.severity  = none

[*.md]
charset = utf-8

[*.sh]
end_of_line = lf
