Source: kernel-simulator
Section: misc
Priority: optional
Maintainer: Aptivi CEO <ceo@aptivi.anonaddy.com>
Build-Depends: debhelper-compat (= 12), dotnet-sdk-8.0 (>= 8.0.100)
Standards-Version: 4.4.0
Homepage: https://aptivi.gitbook.io/kernel-simulator-manual
Vcs-Browser: https://github.com/Aptivi/NitrocidKS
Vcs-Git: https://github.com/Aptivi/NitrocidKS.git

Package: kernel-simulator
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, dotnet-runtime-8.0 (>= 8.0.100), tzdata (>= 2021a-1)
Description: Simulates our future-planned kernel, Nitrocid Kernel!
 Nitrocid KS (Kernel Simulator) simulates our future kernel, Nitrocid Kernel!
 It simulates the kernel, the shell, and all the common applications.
