#!/usr/bin/make -f
#
#    Nitrocid KS  Copyright (C) 2018-2025  Aptivi
# 
#    Nitrocid KS is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Nitrocid KS is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <https://www.gnu.org/licenses/>.
# 

%:
	dh $@

override_dh_auto_build:
	mkdir debian/homedir
	$(MAKE) all-offline

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	find $(CURDIR)/debian/tmp/usr -mindepth 1 -type f -exec sh -c 'printf "%s" "$$(realpath --relative-to . "$$0")" ; printf " usr/" ; dirname $$(realpath --relative-to $(CURDIR)/debian/tmp/usr "$$0")' "{}" \; | tee $(CURDIR)/debian/nitrocid-28.install
	find $(CURDIR)/debian/tmp/usr -type d -name Addons -prune -o -type f -exec sh -c 'printf "%s" "$$(realpath --relative-to . "$$0")" ; printf " usr/" ; dirname $$(realpath --relative-to $(CURDIR)/debian/tmp/usr "$$0")' "{}" \; | tee $(CURDIR)/debian/nitrocid-28-lite.install
