[Desktop Entry]
Version=0.0
Name=Nitrocid KS
Comment=Simulates our future-planned kernel
Exec=/usr/bin/ks
Icon=/usr/lib/ks/OfficialAppIcon-NitrocidKS-512.png
Terminal=true
Type=Application
Categories=Utility;Application;
