<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
    <Package Name="Nitrocid" Manufacturer="Aptivi" Version="0.1.2.0" UpgradeCode="b44c5027-1ced-41bb-b28f-a2f0af758fc8">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

        <Feature Id="Main">
            <ComponentGroupRef Id="FullComponent" />
        </Feature>

        <ui:WixUI
            Id="WixUI_InstallDir"
            InstallDirectory="INSTALLFOLDER"
            />

        <netfx:DotNetCompatibilityCheck
            Property="DOTNETRUNTIMECHECK"
            RollForward="major"
            RuntimeType="desktop"
            Platform="x64"
            Version="8.0.0"
            />

        <WixVariable Id="WixUILicenseRtf" Value="..\..\..\LICENSE.RTF"/>
    </Package>
</Wix>
